{% extends 'ground_truth/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block title %}
    Videography - About
{% endblock %}

{% block body %}
    <div class="section-about">
        <h1 id="hdAbout">About</h1>

        <p class="paragraph-about">
            This tool is used to build ground truths for automatic videography systems for given audio sources. To try it yourself, navigate to the home page and input a YouTube URL of a video, or upload your own audio file. The system will attempt to recognise the title and artist if the source is found to be a music track and retrieve it's synced lyric transcript if available. If it is not a music track, the system will attempt to grab any available captions. If no captions exist, the system will attempt to manually transcribe the audio source.
            <br />
            Any previously processed audio sources can be found in the 'Collections' tab on the navigation bar.
        </p>

        <br />
        <h2 id="hdGroundTruth">Ground Truth Building</h2>
        <p class="paragraph-about">
            Once an audio source is processed and it's transcription is retrieved, you will be able to start building the ground truth by clicking on the 'Build Ground Truth' button. Alternatively, you can click into a particular audio chunk within the transcript. Each chunk will display ten images that are relevant to the text present in that audio chunk. To build the ground truth, for each chunk, select the images that you believe are the <b>most</b> relevant to the text. Once finished, the ground truth data that you have built will be available to download as a JSON file.
        </p>

        <br />
        <h2 id="hdVideography">Automatic Videography</h2>
        <p class="paragraph-about">
            This tool also provides the standard automatic videography tool itself. Once an audio source is processed, you can click on the 'Generate Video' button which will automatically generate a video with the audio source accompanied by relevant imagery based on the textual information present. The images will be chosen at random from the ranked ten for each audio chunk.
        </p>
    </div>
{% endblock %}