{% extends 'ground_truth/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-extended.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chunk.css' %}"/>
{% endblock %}

{% block style %}
    {% if chunk.index == 1 %}
        <style>
            #btnNext { margin-left: -80px; }
        </style>
    {% endif %}
{% endblock %}

{% block title %}
    {{ chunk }}
{% endblock %}

{% block body %}
    <div class="section-audio_subheading" style="background-color: {{ audio.coverart_colour }}">
        <a href="{% url 'ground_truth:audio' audio.slug %}"><h2 class="subheading-audio">{{ audio }}</h2></a>
    </div>

    <div class="section-chunk_info">
        <p id="parChunkNumber">Chunk {{ chunk.index }} of {{ chunks|length }}</p>
        <p id="parInstructions">Select the images that you perceive as being the most fitting to the text below:</p>
        <p id="parText" style="background-color: {{ audio.coverart_colour }}">{{ chunk.text }}</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="section-chunk_nav">
            {% if chunk.index > 1 %}
                <input type="submit" name="previous" value="Previous" class="btn btn-primary button-nav" id="btnPrevious">
            {% endif %}
            
            <div class="section-images">
                {% for path in image_paths %}
                    <img src="{% static path %}" class="images-most_similar" name='{{ forloop.counter0 }}'>
                {% endfor %}
            </div>

            {% if chunk.index < chunks|length %}
                <input type="submit" name="next" value="Next" class="btn btn-primary button-nav" id="btnNext">
            {% else %}
                <input type="submit" name="finish" value="Finish" class="btn btn-primary button-nav" id="btnFinish">
            {% endif %}
        </div>
    </form>

    <div class="section-timestamp" style="background-color: {{ audio.coverart_colour }}">
        <p id="parTimestamp">Timestamp: {{ start_time }} - {{ end_time }}</p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{% static 'js/jquery.imgCheckBox.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/chunk.js' %}"></script>
    <script>
        $(".images-most_similar").imgCheckbox({ 
            "graySelected": false, 
            "scaleSelected": false,
            "fadeCheckMark": true,
            "preselect": {{ chunk.selected_ids }},
            "styles": { 
                "span.imgCheckbox": {
                    "margin": "25px 25px 0px 25px",
                },

                "span.imgCheckbox.imgChked img": { 
                    "transform": "scale(1.12)",
                    "border": "5px solid #2dba52",
                }
            }
        });
    </script>
{% endblock %}