.section-about {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    max-width: 60%;
    font-family: 'Exo';
    border: 4px solid;
    border-radius: 6px;
    padding: 20px;
    background-color: rgb(235 235 235);
}

#hdAbout {
    font-weight: 700;
}

.paragraph-about {
    font-size: 20px;
}