#hdCollections {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Exo';
    font-size: 46px;
    font-weight: 800;
}

.section-audio_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Exo';
    font-size: 27px;
}

.link-tracks {
    margin: 15px; 
}

.button-tracks {
    padding: 30px 10px 30px 10px;
    width: 600px;
    border-radius: 5px;
    font-weight: 600;
}