{% extends 'ground_truth/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/audio.css' %}"/>
{% endblock %}

{% block style %}
    <style>
        .paragraph-lines:hover { background-color: {{ coverart_colour }}; }
    </style>
{% endblock %}

{% block title %}
    {{ audio }}
{% endblock %}

{% block body %}
    <div class="section-audio" style="background-color: {{ coverart_colour }}">
        <img src="{% static '/coverart/'|add:audio.filename|add:'.png' %}" id="imgCoverArt">
        <div class="section-audio_info">
            <h1 class="heading-audio" id="hdTitle">{{ audio.title }}</h1>
            <h2 class="heading-audio" id="hdArtist">{{ audio.artist }}</h2>

            <div class="section-start_button">
                <a href="{% url 'ground_truth:about' %}">
                    <button class="btn btn-primary button-start" id="btnGenerate">Generate Video</button>
                </a>
                <a href="{% url 'ground_truth:chunk' audio.slug 'chunk-0' %}">
                    <button class="btn btn-primary button-start" id="btnBuild">Build Ground Truth</button>
                </a>
            </div>
        </div>
    </div>

    <div class="section-transcript">
        {% for line in transcript %}
            {% if line != '♪' %}
                {% with counter.value|stringformat:"i" as i %}
                <a href="{% url 'ground_truth:chunk' audio.slug 'chunk-'|add:i %}" class="paragraph-lines">{{ line }}</a><br />
                {% endwith %}
                {{ counter.increment }}
            {% else %}
                <br />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/dynamicTextColours.js' %}"></script>
    <script src="{% static 'js/audio.js' %}"></script>
{% endblock %}