{% extends 'ground_truth/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_smTitle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/audio.css' %}"/>
{% endblock %}

{% block style %}
    <style>
        .paragraph-lines:hover { background-color: {{ audio.coverart_colour }}; }
    </style>
{% endblock %}

{% block title %}
    {{ audio }}
{% endblock %}

{% block body %}
    <div class="section-audio" style="background-color: {{ audio.coverart_colour }}">
        <img src="{% static '/coverart/'|add:audio.filename|add:'.png' %}" id="imgCoverArt">
        <div class="section-audio_info">
            <h1 class="heading-audio" id="hdTitle">{{ audio.title }}</h1>
            <h2 class="heading-audio" id="hdArtist">{{ audio.artist }}</h2>

            <div class="section-start_button">
                <a href="{% url 'ground_truth:about' %}">
                    <button class="btn btn-primary button-start" id="btnGenerate">Generate Video</button>
                </a>
                <a href="{% url 'ground_truth:chunk' audio.slug chunks.0.slug %}">
                    <button class="btn btn-primary button-start" id="btnBuild">Build Ground Truth</button>
                </a>
            </div>
        </div>
    </div>

    <div class="section-transcript">
        {% for chunk in chunks %}
            <a href="{% url 'ground_truth:chunk' audio.slug chunk.slug %}" class="paragraph-lines">{{ chunk.text }}</a><br />
        {% endfor %}  
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{% static 'js/dynamicTextColours.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/audio.js' %}"></script>
{% endblock %}